@model Client

<h2>Edit Client</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="ClientId" />

    <input asp-for="Name" class="form-control mb-2" />
    <input asp-for="ContactDetails" class="form-control mb-2" />
    <input asp-for="Region" class="form-control mb-2" />

    <button class="btn btn-primary">Update</button>
</form>