@model ServiceRequest

<h2>Edit Request</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="ServiceRequestId" />

    <input asp-for="Description" class="form-control mb-2" />
    <input asp-for="CostUSD" class="form-control mb-2" />
    <input asp-for="CostZAR" class="form-control mb-2" />

    <button class="btn btn-primary">Update</button>
</form>